<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet", href="/css/styles.css"> 


</head>
<title>About</title>
<link rel="icon" href="https://cdn2.iconfinder.com/data/icons/buno-ui-interface/32/_-39-512.png">

    <body> 
        <dev class="mainclass">
       {{>header}}     
       
       
<P>This Web Design By Arham its uses data from mapbox.com and darksky.net 
</P>
<img class='portrait 'src='https://i.pinimg.com/280x280_RS/75/6a/f2/756af27fc5587abd1f7010ac0843b072.jpg'>

        </dev> 
        

<footer>{{>fotter}}</footer>
    </body>

</html>