<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet", href="/css/styles.css"> 


</head>
<title>Help</title>
<link rel="icon" href="https://cdn-icons-png.flaticon.com/512/2751/2751598.png">

    <body>  
        <dev class="mainclass">
            {{>header}}

<p>For any help or suggestions contact us email: bilalarham3233@gmail.com</p>
        </dev>
        
<footer>{{>fotter}}</footer>
    </body>

</html>