

<header>
    
    <h2><img id="icon" src="https://www.creativefabrica.com/wp-content/uploads/2021/03/31/weather-icon-illustration03-Graphics-10205167-1-1-580x375.jpg" ></h2>
    <h1> Weather App </h1>
<a href="/">Home</a>
<a href="/help">Help</a>
<a href="/about">About</a>

</header>